*,
*::before,
*::after {
  box-sizing: border-box;
}

/* This makes UI scalable with window */
/* extra code for object layers */

#ui {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  transform: translate(-50%, -50%) scale(var(--scale, 0));
  transform-origin: center;
  box-sizing: border-box;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}
